.sub{
    font-family: Rounded Mplus 1c Bold;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    padding-top: 10%;
    padding-right: 10%;
    color: #000000;
    text-align: center;
  }