.App {
  text-align: center;
  
}

.seasonings{
    width: 600px;
    height: 338px;
    position: absolute;
    bottom: 0px;
}

.logo{
  width: 120px;
  height: 120px;
  padding: 0px 220px 2px 240px;
  
}

.title {
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 69px;
  letter-spacing: -0.05em;
  color: #000000;
  border-radius: 5px;
  margin: 0 100px;
  padding: 50px 10px 2px 0px;
  width: fit-content;
}

.subtitle{
  font-family: Rounded Mplus 1c Bold;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  padding-left: 0%;
  color: #000000;
  text-align: center;
}
s
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
